{% extends 'base.html.twig' %}

{% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}Authentification{% endblock %}</title>
{% endblock %}

{% block body %}
    <div class="container">
        <br>
        {% include 'flash_messages.html.twig' %}
        <br>
        <h2>Authentification</h2>
        <hr>
        <div id="formContent">

            {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.TagsCenterInterest) }}
            </div>
            <div class="form-group">
                {#  {{ form_row(form.competencies) }} #}
            </div>

            <div class="form-group">
                {{ form_row(form.firstname) }}
            </div>
            <div class="form-group">
                {{ form_row(form.lastname) }}
            </div>
            <div class="form-group">
                {{ form_row(form.birth_date) }}
            </div>
            <div class="form-group">
                {{ form_row(form.nationality) }}
            </div>
            <div class="form-group">
                {{ form_row(form.country) }}
            </div>
            <div class="form-group">
                {{ form_row(form.email) }}
            </div>
            <div class=" form-group">
                {{ form_row(form.password) }}
            </div>
            <div class="form-group">
                {{ form_row(form.confirm_password) }}
            </div>
            <div class="form-group">
                {{ form_row(form.availability) }}
            </div>

            <div class="form-group">
                {{ form_row(form.List) }}
            </div>
            <div class="form-group">
                {#   {{ form_row(form.TagProfession) }}#}
            </div>

            <div class="form-group">
                {{ form_row(form.file) }}
            </div>
            <div class="form-group">
                {{ form_row(form.submit) }}
            </div>
            <div class="form-group">
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}