{% extends 'basePrivate.html.twig' %}


{% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}Mon Profil{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
              crossorigin="anonymous">

    {% endblock %}

{% endblock %}

{% block body %}
    <h2>Bienvenue {{ profils.firstname }}
    </h2>
    <br><br>

    <table class="table">
        <tbody>
        <tr>
            <td><h4>Votre Prenom</h4></td>
            <td><h4>{{ profils.firstname }}</h4></td>
        </tr>
        <tr>
            <td><h4> Votre Nom</h4></td>
            <td><h4>{{ profils.lastname }}</h4></td>
        </tr>
        <tr>
            <td><h4> Vos metiers</h4></td>
            <td><h4>{#{{ profils.TagProfession | join(', ') }}#}</h4></td>

        </tr>

        <tr>
            <td><h4>A quoi je vaux participer</h4></td>
            <td><h4>{{ profils.List }}</h4></td>
        </tr>
        <tr>
            <td><h4>Vos centre d/'intérêts</h4></td>
            <td><h4>{{ profils.TagsCenterInterest | join(', ') }}</h4></td>
        </tr>
        <tr>
            <td><h4>Vos competence</h4></td>
            <td><h4>{#{{ profils.competencies | join(', ') }}#}</h4></td>
        </tr>
        <tr>
            <td><h4>CV</h4></td>
            <td><h4><a href="{{ asset('uploads/files/' ~ profils.file) }}">Votre CV (PDF)</a></h4></td>
        </tr>
        </tbody>
    </table>


{% endblock %}